.retro-text
    font-family: 'pixel'

.card-finger-speed
    margin-top: 5%

.play-button 
    background: #682e97
    border-radius: 12px
    color: #FFF
    font-family: 'pixel'
    padding: 0
    outline-offset: 4px

.play-button span 
    display: block
    padding: 12px 42px
    border-radius: 12px
    background: #a549f0
    transform: translateY(-7px)


.play-button:hover span 
    transform: translateY(-6px)


.play-button:active span 
    transform: translateY(-1px)